# defaults
.git
.github
.vscode
.idea
node_modules
*/temp
**/*.log
**/*.lock

# localfolders
scripts
deploy

# docs
README.md
CONTRIBUTING.md
AGENTS.md
LICENSE

# config
.env
.env.example
.env.template
.gitignore
.dockerignore
Dockerfile

# binaries
babytrack
__debug_bin*

# Project Specific
cookies.txt
